body{
    text-align: center;
}
h1{
    font-size: 40px;
 font-family: 'Acme', sans-serif;
}
#app{
    width: 100%;
    height: 800px;
    background-color: #d7ff70;
}
#games{
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}
img{
transition: transform.2s;
    margin-right: 50px;
}
img:hover{
    transform: scale(0.9);

}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin: 8px auto;
}
#Chatbot{
    width: 100%;
    height:800px;
    background-color: skyblue;
}